.inputArea {
  min-width: 400px;
}

.label {
  margin-left: 7%;
}

#centerBox {
  box-shadow: 0px 0px 30px 30px #22222295;
  background-color: #22222295;
}

.row.menu {
}

.full-body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

#menu {
  height: 10%;
  width: 100%;
  position: fixed;
  background-color: #070707;
  box-shadow: 0px 0px 15px 15px #070707;
  z-index: 1;
}

.btn-group {
  right: 0;
}

#sideBar {
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 25%;
  background-color: #00000099;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 0px 15px 15px #00000099;
}

.menuButtons {
  width: 250px;
}

.contentsLabel {
  top: 15%;
  position: absolute;
  left: 20%;
}

#sceneNumbers {
  top: 30%;
  position: absolute;
  left: 20%;
}

.btn {
  background: rgba(66,220,163,0);
  border-radius: 2px;
  color: rgb(255,255,255);
  margin: 10px;
  border-width: 4px;
  border-color: white;
  font-family: Jura, sans-serif;
  width: 250px;
}

.btn:click {
  color: yellow;
  border-color: yellow;
  background: rgba(66,220,163,0);
}

.btn:hover, .btn:focus, .btn:active {
  color: yellow;
  border-color: yellow;
  background: rgba(66,220,163,0);
}

.scene:hover {
  color: yellow;
  border-color: yellow;
}

.scene {
  margin-top: 20px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 1px;
}

