<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>StoryX Evaluator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% load static %}
        <script src="{% static 'js/evaluate.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/annotate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/evaluate.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Condensed'  />
        
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="sticky-top">
              <div>&nbsp;</div>
              <h2>{{ story.title }}</h2>
              <h4 class="pt-2 border-top border-dark">
                <i style="font-weight:normal;">
                Story Element Extraction Results</span>
                </i>
              </h4>
              <h5>
                Legend: 
              </h5>
              <ul class="mt-3">
                <li><span class="action">Sentences highlighted <b>white</b> are action events</span></li>
                <li><span class="dialogue">Sentences highlighted <b>green</b> are dialogue events</span></li>
                <li><span class="transition">Sentences highlighted <b>yellow  </b> are scene transition events</span></li>
                <li><span class="character">Words</span> colored <b>red</b> are characters</li>
                <li><span class="prop">Words</span> colored <b>blue</b> are props</li>
              </ul>
              {% if not has_annotation %}
              <h5>
                <span style="font-weight:normal; color:red;" id="instruction">This story has not been annotated. To view the performance of the system, please <a href="{{ story.get_annotation_url }}">annotate</a> this story first.</span>
              </h5>
              {% endif %}
              <div class="mt-4">
                <div>
                  <div class="d-flex justify-content-between">
                    <h5>Dialogue Content Evaluation</h5>
                  </div>
                  <div class="prog-row dialogue-content">
                    <div class="prog-obj precision">
                      <div class="prog-label">Precision</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj recall">
                      <div class="prog-label">Recall</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj f1score">
                      <div class="prog-label">F1</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5>Extracted Dialogue Content</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <textarea class="form-control mt-2" rows=5 id="output" readonly></textarea>
                  <br>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5>Dialogue Speaker Evaluation</h5>
                  </div>
                  <div class="prog-row characters">
                    <div class="prog-obj precision">
                      <div class="prog-label">Precision</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj recall">
                      <div class="prog-label">Recall</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj f1score">
                      <div class="prog-label">F1</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5>Extracted Dialogue Speakers</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <textarea class="form-control mt-2" rows=5 id="output" readonly></textarea>
                  <br>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5>Character Evaluation</h5>
                  </div>
                  <div class="prog-row characters">
                    <div class="prog-obj precision">
                      <div class="prog-label">Precision</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj recall">
                      <div class="prog-label">Recall</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj f1score">
                      <div class="prog-label">F1</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5>Extracted Characters</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <textarea class="form-control mt-2" rows=5 id="output" readonly></textarea>
                  <br>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5>Prop Evaluation</h5>
                  </div>
                  <div class="prog-row props">
                    <div class="prog-obj precision">
                      <div class="prog-label">Precision</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj recall">
                      <div class="prog-label">Recall</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj f1score">
                      <div class="prog-label">F1</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5>Extracted Props</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <textarea class="form-control mt-2" rows=5 id="output" readonly></textarea>
                  <br>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5>Action Line Evaluation</h5>
                  </div>
                  <div class="prog-row action-lines">
                    <div class="prog-obj precision">
                      <div class="prog-label">Precision</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj recall">
                      <div class="prog-label">Recall</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj f1score">
                      <div class="prog-label">F1</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5>Extracted Action Lines</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <textarea class="form-control mt-2" rows=5 id="output" readonly></textarea>
                  <br>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5>Scene Transition Evaluation</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <div class="prog-row scene-transitions">
                    <div class="prog-obj precision">
                      <div class="prog-label">Precision</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj recall">
                      <div class="prog-label">Recall</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                    <div class="prog-obj f1score">
                      <div class="prog-label">F1</div>
                      <div id="prog-contain">
                        <div class="prog"></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5>Extracted Scene Transitions</h5>
                    <button type="button" class="btn btn-light" id="btn-copy"><i class="fa fa-clipboard mr-2"></i>Copy to Clipboard</button>
                  </div>
                  <textarea class="form-control mt-2" rows=5 id="output" readonly></textarea>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div>
              {% for sentence in sentences %}
              {% if sentence.is_action %}
              <span class="action">
              {% elif sentence.is_transition %}
              <span class="transition">
              {% elif sentence.is_dialogue %}
              <span class="dialogue">
              {% else %}
              <span>
              {% endif %}
              {% for token in sentence.tokens %}
              {% if token.is_character %}
              <span style="white-space: pre-line; font-size:18px;" class="character">{{ token.text }}</span>
              {% elif token.is_prop %}
              <span style="white-space: pre-line; font-size:18px;" class="prop">{{ token.text }}</span>
              {% else %}
              <span style="white-space: pre-line; font-size:18px;">{{ token.text }}</span>
              {% endif %}
              {% endfor %}
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <form action="{% url 'stories' %}" method="get" id="form-finish">
        {% csrf_token %}
      </form>
    </body>
</html>